

title{
    position: relative;
}

body {
  background-color: lightblue;
  margin: 0;
}

div {
    background-color: aquamarine;
}

h1{
  color: white;
  text-align: center;
}



h1:hover{
    color:#f00;
    transition: all 0.3s ease;
}

#c{
  width: 85%;
  height: 85%;
  display: block;
}



p {
  font-family: verdana;
  font-size: 20px;
}
