

title{
    position: relative;
}

body {
  background-color: lightblue;
  margin: 0;
}

div {
    background-color: aquamarine;
}

h1{
  color: white;
  text-align: center;
}

#bn1{
    position: absolute;
    left: 8px;
    top: 5px;
    border-radius: 4px;
    font-size: 24px;
    float: left;
}

#bn2{
    position: absolute;
    left: 8px;
    top: 42px;
    border-radius: 4px;
    font-size: 24px;
    float: left;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


#c{
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
}



p {
  font-family: verdana;
  font-size: 20px;
}
